// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.c-header-badge
    margin 0
    padding 13px 20px
    font-size 14px

.c-progress
    padding 20px
    border-radius 30px 30px 0 0
    position relative
    &:before
    &:after
        content ''
        display block
        width 30px
        height 30px
        position absolute
        bottom 0
        left -30px
    &:before
        background #F5F5F5
    &:after
        background white
        border-radius 0 0 30px 0

.c-progress-line
    padding 13px 20px

.c-progress-text
    font-size 14px

.c-block-body
    border-radius 30px 0 30px 30px
    padding 25px 25px 10px

.c-title
    margin-bottom 25px
    font-size 23px

.c-item-group
    padding 25px 25px 10px
    border-radius 25px

.c-item-num
    font-size 30px

.c-item-label-text
    font-size 21px

.c-item-label-desc
    font-size 14px


.c-field-radio-btn
.c-field-input
.c-field-select-value
.c-field-select-options
.c-btn
    font-size 18px

.c-field-select-value
    padding 13px 36px 13px 20px
.c-btn
.c-field-input
.c-field-radio-btn
    padding 13px 20px


.c-modal-result
    padding 30px 30px 15px

.c-result-title
    font-size 28px

.c-result-text
    font-size 18px

.c-result-info
    font-size 14px

.c-tirads-text
    font-size 18px